extends page.pug 
block append head
    title Coupon
block content 
 form#form(action='/add-coupon' method='POST').place-items-center.max-w-max.m-4.p-2.bg-white.rounded.shadow-xl
    p.text-gray-800.font-medium Adding new coupon code
    div
      label.block.text-sm.text-gray-00(for='name') Choose a name for the coupon
      input.w-full.px-5.py-1.text-gray-700.bg-gray-200.rounded(name='name' type='text' required='' placeholder='Coupon Name')
    .mt-2
      label.block.text-sm.text-gray-600(for='code') Coupon Code
      input.w-full.px-5.py-4.text-gray-700.bg-gray-200.rounded(name='code' type='text' required='' placeholder='Hsoub10')
    .mt-2
      label.block.text-sm.text-gray-600(for='discount_type') Discount Type
      input.w-full.px-2.py-2.text-gray-700.bg-gray-200.rounded(name='discount_type' type='text' required='' placeholder='p for percentage and f for fixed')
    .mt-2
      label.text-sm.block.text-gray-600(for='discount') Discount
      input.w-full.px-2.py-2.text-gray-700.bg-gray-200.rounded(name='discount' type='text' required='' placeholder='discount')
    .inline-block.mt-2.pr-1(class='w-1/2')
      label.block.text-sm.text-gray-600(for='free_shipping') Free Shipping
      input.w-full.px-2.py-2.text-gray-700.bg-gray-200.rounded(name='free_shipping' type='text' required='' placeholder='1 to enable, 0 to disable')
    .inline-block.mt-2.-mx-1.pl-1(class='w-1/2')
      label.block.text-sm.text-gray-600(for='free_cod') Free Cash on Delivery
      input.w-full.px-2.py-2.text-gray-700.bg-gray-200.rounded(name='free_cod' type='text' required='' placeholder='1 to enable, 0 to disable')
    div
      label.block.text-sm.text-gray-600(for='total') Total to apply coupon
      input.w-full.px-2.py-2.text-gray-700.bg-gray-200.rounded(name='total' type='text' required='' placeholder='Total to apply coupon')
    .inline-block.mt-2.pr-1(class='w-1/2')
      label.block.text-sm.text-gray-600(for='date_start') Starting Date
      input.w-full.px-2.py-2.text-gray-700.bg-gray-200.rounded(name='date_start' type='text' required='' placeholder='2021-06-01')
    .inline-block.mt-2.-mx-1.pl-1(class='w-1/2')
      label.block.text-sm.text-gray-600(for='date_end') Ending Date
      input.w-full.px-2.py-2.text-gray-700.bg-gray-200.rounded(name='date_end' type='text' required='' placeholder='2021-12-31')
    .mt-2
      label.block.text-sm.text-gray-600(for='uses_total') Total Using
      input.w-full.px-2.py-2.text-gray-700.bg-gray-200.rounded(name='uses_total' type='text' required='' placeholder='1000')
    .mt-2
      label.block.text-sm.text-gray-600(for='uses_customer') Total Using Per Customer
      input.w-full.px-2.py-2.text-gray-700.bg-gray-200.rounded(name='uses_customer' type='text' required='' placeholder='5')
    .mt-2
      label.block.text-sm.text-gray-600(for='apply_to') Apply for all Products?
      input.w-full.px-2.py-2.text-gray-700.bg-gray-200.rounded(name='apply_to' type='text' required='' placeholder='all or apply_to_array[]')
    .mt-2
      label.block.text-sm.text-gray-600(for='status') Active?
      input.w-full.px-2.py-2.text-gray-700.bg-gray-200.rounded(name='status' type='text' required='' placeholder='1 to enable, 0 to disable')
    
    .mt-4
      button.px-4.py-1.text-white.font-light.tracking-wider.bg-gray-900.rounded(type='submit') Add
